@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
    color: black;
}

        /* Header & logo */

h1 {
    font-family: Send Flowers;
    letter-spacing: 8px;
    color: black;
}

#logo {
    font-size: 250%;
}


      /* Navigation bar & menu*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

        /* Images and pictures */

#banner {
    height: 100%;
    width: 100%;
    background: url(../images/westport\ _4722d.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center left; 

    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
#outer-banner {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@keyframes banner-zoom {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.1);
    }
}

p {
    color: red;
}

