@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(223, 237, 236);
    color: black;
}

        /* Header & logo */

h1 {
    font-family: Send Flowers;
    letter-spacing: 8px;
    color: black;
    margin-left: 30px;
    margin-top: 20px;
}



#logo {
    font-size: 250%;
}

/*  Unsuccessful try to make cover text displayed on the top of the banner-picture.

    #cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: Send Flowers;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
} 
*/


      /* Navigation bar & menu*/

#menu {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}


        /* Info panel */

#info-panel {
    height: 300px;
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
#left-info-panel {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}
#right-info-panel {
    padding-top: 30px;
    width: 33%;
    float: right;
}
#center-info-panel {
    width: 33%;
    margin: 0 auto;
    
}
#container {
    width: 200px;
    height: 200px
}
#coat-of-arms{
    background-image: url(../images/Westport_Coat_of_Arms);
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#info-panel p {
    color: black;
}
#info-panel h3 {
    color: black;
    font-size: 120%;
}
#center-info-panel h2 {
    margin: 20px 0;
    text-align: center;
    color: red;
}
#info-panel ul{
    color: orange;
    list-style-type: none;
}


        /* Articles sections */

article h2 {
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: green;
    border-top: 2px solid black;
}
article p {
    margin-top: 20px;
    margin-left: 40px;
    color: green;
    
}

        /* Images and pictures */

#banner {
    height: 400px;
    width: 100%;
    background: url(../images/westport\ _4722d.jpg);
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center left; 
 

    animation-name: banner-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
#outer-banner {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

@keyframes banner-zoom {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.1);
    }
}

p {
    color: red;
}

