@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(242, 247, 238);
    color: black;
    /* min-width: 320px; */
}


/* Header & logo */

a {
    color: orange;
}

a:hover,
a:active,
a:focus {
    color: green;
}

h1 {
    font-size: 300%;
    /* width: 100%; */
    text-align: center;
    font-family: "Send Flowers";
    letter-spacing: 8px;
    color: black;
    margin-top: 20px;
}

h2 {
    font-family: inherit;
    color: black;
    padding: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

h3 {
    padding: 20px 10px;
    margin-bottom: 10px;
}

p {
    color: black;
}

hr {
    border-top: 2px solid black;
    width: 100%;
    margin: 15px 0;
}

.dotted {
    border-top: 2px dotted black;
}

.fa-brands {
    font-size: 20px;
    color: white;
}
.fa-brands:hover {
    font-size: 25px;
    color: black;
}

#head-container {
    /* width: 100%; Removed when serch source of overflow*/
    text-align: center;
}

.text-wrapper {
    position: absolute;
    width: 100%;
    margin-top: -330px;
    text-align: center;
}

#logo {
    margin-top: 70px;
    /* width: 98%; */
    padding: 20px 10px 10px 10px;
    color: rgb(252, 247, 216);
}

        /* Images and pictures */

#banner {
    height: 500px;
    /* width: 100%; */
    background: url(../images/westport_pat_1920px.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: banner-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#outer-banner {
    height: 400px;
    /* width: 100%; */
    overflow: hidden;
}

@keyframes banner-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}



/* Navigation bar & menu*/


#menu {
    /* width: 100%; */
    height: fit-content;
    /* margin: 15px 4% 15px 4%; Gap between navigation button should be restored is some form*/
    font-size: 110%;
    letter-spacing: 4px;
}
#menu li {
    margin: 5px 2% 5px 2%;
    float: left;
    list-style-type: none;
    padding: 10px 4% 20px 4%;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 2px solid black;
}
.active {
    border-bottom: 2px solid black;
}



/* Info panel */

#info-panel {
    height: fit-content;
    /* width: 80%; */
    line-height: 20px;
    margin: 20px 8% 0 8%;
    /* margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 20%; */
    padding: 10px;
}

#left-info-panel, #right-info-panel, #center-info-panel {
    padding-top: 30px;
    width: 33%;
    min-width: 50px;
}
#left-info-panel {
    float: left;
}
#right-info-panel {
    float: right;
}

#center-info-panel {
    margin: 0 auto;
}

#container {
    text-align: center;
    font-size: large;
    width: 90%;
    max-width: fit-content;
    height: 300px;
    margin: 0 auto;
}

#coat-of-arms {
    background: url(../images/westport_coat_of_arms.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 110%;
    /* width: 100%; */
    background-size: cover;
}

#info-panel p {
    color: black;
    padding: 15px;
    text-align: justify;
}

#info-panel h3 {
    text-align: center;
    color: black;
    font-size: 120%;
    border-bottom: 1px solid black;
    min-height: 40px;
    padding: 15px 10px 0px 10px;
}

#center-info-panel h2 {
    margin: 15px 0;
    text-align: center;
    color: black;
    border-bottom: 1px solid black;
}

#info-panel ul {
    color: black;
    list-style-type: none;
    padding: 15px;
}



/* Events section */


article {
    /* height: fit-content;
    margin-top: 20px;
    margin-bottom: 40px; */

    width: 90%;
    margin: 10% auto;

}
article h2 {
    padding: 10px;
    /* margin: 40px 0 20px 50px; */

    color: black;
    border-top: 2px dotted black;
}
article h3 {
    padding: 10px;
    /* margin-bottom: 20px;
    margin-left: 50px; */
    color: black;
    border-top: 1px dotted black;
}
article p {
    text-align: justify;
    /* width: 94%;
    margin: 10px 0 20px 40px; */

    /* Keep it more or less like this */
    /* Find a bug in the logo or the header section */
}

/* Contact section and Map */

#contact-container {
    border-top: 2px solid black;
    /* width: 100%;
    margin-top: 20px;
    margin-bottom: 25px; */
}
#contact {
    float: left;
    width: 30%;
    min-width: 400px;
    height: fit-content;
    padding: 15px 10% 15px 10px;
    /* margin-right: 5%;
    margin-left: 50px; */
}
#contact table {
    border-bottom: 2px dotted black;
}
#contact table tr {
    vertical-align: text-top;
    padding-top: 20px;
    /* margin: 20px 0; */
    letter-spacing: 2px;
}

#ask-question {
    /* width: 100%; */
    min-width: 400px;
    max-width: 500px;
    min-height: 80px;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(230, 230, 230, 0.6);
}

#ask-question:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#map-wrapper {
    padding: 20px;
    float: left;
    width: 30%;
    min-width: 400px;
    /* margin-bottom: 55px;
    margin-left: 50px; */
}
#map {
    border: none;
}

button, .return-button {
    text-align: center;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    background-color: gray;
}

.return.focus, .button:focus {
    background-color: #5a5a5a;
}

.return {
    clear: both;
    text-align: center;
    padding: 10px;
    margin-bottom: 5em;
}

.return-button {
    margin-bottom: 45px;
}

#send-button {
    margin: 0 100px 0 0;
}

button:hover, .return-button:hover {
    background-color: #8a8a8a;
    text-decoration: underline;
}




/* Footer */

footer {
    background-color: grey;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 10px;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}
footer a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
}



/* History page */

#history-header h1 {
    /* width: 90%;
    margin: 10px 0 10px 10px; */
    text-align: center;
    font-size: 35px;
}

#history-header>div {
    /* margin: auto; */
    padding: 0 20%;
    height: fit-content;
}

#main-photo {
    background-position: center center;
    background-repeat: no-repeat;
    width: 90%;
    background-size: auto;
    padding: 3%;
    max-height: 700px;
}

.article-container {
    width: 94%;
    margin-left: 10px;
    margin-right: 10px;
}

#old-photo-one,
#old-photo-two {
    width: 35vw;
    min-width: 350px;
    padding: 0 0;
    margin: 10px;
    position: relative;
    /* right: -20px; */
}

#old-photo-two {
    float: left;
    right: 7px;
}

#old-photo-one {
    float: right;
    right: -18px;
}

.article-footer {
    font-size: 70%;
    text-align: right;
    width: 40%;
    padding: 10px 30px 10px 30px;
    margin: 10px -0 10px 45%;
}


/* Gallery Page */

#photos {
    clear: both;
    padding: 10px;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

        /* Confirmation Page */

#message-text {

    font-size: 180%;
    text-align: center;
    padding: 30px 10px 10px 10px;
}
#message-text p{
    color: red;
}



@media screen and (max-width: 1200px) {
    h1 {
        font-size: 220%;
    }

    #menu {
        /* width: 95%; */
        text-align: center;
        letter-spacing: 3px;
    }
    #menu li {
        padding: 10px 1% 20px 1%;
        margin: 5px 4% 5px 4%;
    }

    article p {
        text-align: justify;
        width: 91%;
        margin: 10px 0 20px 40px;
    }
    article h3 {
        padding: 10px 65px 10px 10px;
    }
    #old-photo-one, #old-photo-two {
        width: 35vw;
        min-width: 350px;
        padding: 2%;
        position: relative;
        right: -6px;
    }
    #old-photo-one {
        margin: 10px 10px -4px -3px;
    }
    #old-photo-two {
        margin: 10px 10px 10px 20px;
    }

    #photos {
        column-count: 2;
    }
}

@media screen and (max-width: 550px) {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(242, 247, 238);
        color: black;
        /* min-width: 350px; */
    }

    .text-wrapper {
        position: absolute;
        margin-top: -330px;
        text-align: center;
    }
    #logo {
        /* margin: 120px -20px 10px 20px;
        width: 90%; */
        padding: 60px 10px 10px 10px;
        font-size: 200%;
    }
    #banner{
        background: url("../images/westport_pat_550px.jpg") center center no-repeat ;  
        padding: 5%;
        /* max-height: 550px; */
    }

    #menu li {
        text-align: center;
        float: none;
        padding: 10px 20px 20px 10px;
        /* max-width: 550px; */
    }

    #info-panel {
        margin: auto;
        padding-right: 10px;
        padding-left: 25px;
        /* width: 96%; */
    }

    #center-info-panel {
        padding: 0;
        float: left;
        width: 90%;
    }

    #right-info-panel, #left-info-panel {
        clear: both;
        float: left;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }



    article {
        padding-left: 10px;
        margin: 0;
    }
    article p {
        margin: 10px 10% 20px 10%;
        width: 88%;
    }

    #photos {
        column-count: 1;
    }

    #info-panel h3 {
        border-top: 1px solid black;
        border-bottom: none;
    }

    #center-info-panel h2 {
        border-top: 1px solid black;
        border-bottom: none;
    }

    #contact, #map-wrapper{
        width: 78%;
        min-width: 300px;
        height: fit-content;
        margin-left: 5%;
    }

    iframe, #ask-question {
        padding: 0;
        width: 90%;
        min-width: 300px;
        max-width: 500px;
    }
    #contact, #map-wrapper{
        width: 78%;
        min-width: 250px;
        height: fit-content;
        margin-left: 0;
    }



        /* History page */

    #history-header {
        padding: 10px;
    }
    #history-header h1 {
        /* margin: 0px; */
        font-size: 30px;
        padding: 10px;
    }
    #main-photo {
        min-width: 270px;
        width: 98%;
        padding: 2%;
        margin: 10px 0 10px 0;
        background-size: cover;
    }


    .article-footer {
        font-size: 70%;
        text-align: center;
        margin: 10px 0 30px 18px;
        padding: 2px 5% 30px 5%;
        width: fit-content;
    }

    #old-photo-one,
    #old-photo-two {
        clear: both;
        float: none;    
        min-width: 250px;
        width: 90%;
        padding: 2%;
        margin: 10px 0 10px 20px;
    }
    
}

@media all and (max-width: 420px) {
    body  {
        /* min-width: 320px; */
    }

    .text-wrapper {
        position: absolute;
        /* left: -58px;
        margin-top: -330px;
        margin-left: 15%; */
        text-align: center;
    }

    table, tr, td {
        display: block;
    }
    #contact table{
        /* width: 90%; */
        padding: 2px;
    }
    #contact table tr {
        vertical-align: text-top;
        margin: 5px 0 10px 0;
        letter-spacing: 2px;
    }
    #contact table td {
        padding: 5px 10px 0 10px;
        letter-spacing: 1px;
    }

    #contact, #map-wrapper{
        /* width: 78%;
        min-width: 250px; */
        height: fit-content;
        /* margin-left: 10px; */
    }
    iframe, #ask-question {
        padding: 0 5% 0 5%;
        /* width: 90%; */
        /* min-width: 200px;
        max-width: 300px; */
    }

    #info-panel h3 {
        padding: 15px 54px 0px 34px;
    }

        /* History page */

    .article-container {
        width: 94%;
        /* margin-right: 22px; */
    }

    .article-text {
        /* min-width: 320px; */
    }

    .article-footer {
        font-size: 70%;
        text-align: center;
        margin: 10px 0 30px 18px;
        padding: 2px;
    }

 
}


